<h2>Categories</h2>
<form
  name="form"
  class="form-inline"
  novalidate>

  <input
    class="form-control"
    placeholder="category"
    ng-model="newCategory" />

  <button
    class="btn btn-primary"
    ng-click="addCategory(newCategory)"
    ng-disabled="!newCategory">
    <span class="glyphicon glyphicon-ok"></span>
  </button>
  
  <button
    class="btn btn-default"
    ng-click="reset()">
    <span class="glyphicon glyphicon-refresh"></span> reset defaults
  </button>
</form>

<ul class="categories">
  <li
    ng-repeat="c in categories"
    jg-deletable
    item="c"
    remove-method="removeCategory">
    {{ c }}
  </li>
</ul>